body{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.contenedor{
    margin: 0 auto;
    width: 88%;
    border: 2px solid black;
    max-width: 100%;
    box-shadow: 0 0 20px 1px rgba(0,0,0,.5);
    max-width: 100%;
}

#cabecera1{
    clear: both;
}
.menu{
    border: 2px solid black;
    float: left;
    width: 20%;
    margin: 5px;   
}
.titulo_menu{
    background-color: gray;
    color: white;
}
.logo{
    float: left;
    width: 70%
}

.img_centro{
    margin-top: 3px;
    margin-left: 40px;
    width: 850px;
    height: 80px;
    max-width: 100%;
}
.separador{
    clear: both;
    margin-top: 25px;
    display: block;
    background-color:burlywood;
}

.separador h2{
    text-align: center;
}

.cont_for{
    clear: both;
    float: left;
    width: 40%;
    margin-left: 20px;
    max-width: 100%;
    border: 7px groove white;
}


label{
    display: block;
    font-weight: bold;
}
input{
    margin: 4px;
    width: 95%;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

input.siguiente , input.cancelar{
    width: 50%;
}

table, tr, th,td{
    border: 1px solid black;
}

.imagenes1{
    float: left;
    width: 50%;
}

.img_lector{
    display: block;
    width: 500px;
    height: 200px;
    margin: 0 auto;
}

.img_libro {
    display: block;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    
}
