body{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.contenedor{
    margin: 0 auto;
    width: 88%;
    border: 2px solid black;
    max-width: 100%;
    box-shadow: 0 0 20px 1px rgba(0,0,0,.5);
}

#cabecera{
    clear: both;
}
.menu{
    border: 2px solid black;
    float: left;
    width: 20%;
    margin: 5px;   
}
.titulo_menu{
    background-color: gray;
    color: white;
}
.logo{
    float: left;
    width: 70%
}

.img_logo{
    margin-top: 3px;
    margin-left: 40px;
    width: 850px;
    height: 80px;
    max-width: 100%;
}
.separador{
    clear: both;
    margin-top: 25px;
    display: block;
    background-color:burlywood;
}

.separador h2{
    text-align: center;
}

#titulo{
    border: white 7px groove;
    clear: both;
    float: left;
    width: 48%;
    margin: 10px;
}

#titulo2{
    border: white 7px groove;
    float: left;
    width: 46%;
    margin: 10px;
}

form h2{
    background-color:burlywood;
    font-weight: bold;
}

input{
    margin: 4px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
 }

.tabla{
    clear: both;
}

table{
    margin-top: 10px;
}
table, tr, th,td{
    border: 1px solid black;
    max-width: 100%;
}